<aside class="site-header" role="complementary">
  <a href="/" class="site-header__title">
  Souhails
    
  </a>
  <p class="site-header__description">
   
   You'r daily dose of Entrepreneurship,Marketing and Tech.
  </p>

  <nav class="site-navigation" role="navigation">
    {% if page.url == '/' %}<b class="site-navigation__item">Blogs</b>
    {% else %}<a class="site-navigation__item" href="/archive/">Blogs</a>{% endif %}

    {% if page.url == '/projects/' %}<b class="site-navigation__item">Join Us</b>
    {% else %}<a class="site-navigation__item" href="/projects/">Join Us</a>{% endif %}

    {% if page.url == '/about/' %}<b class="site-navigation__item">About Me</b>
    {% else %}<a class="site-navigation__item" href="/about/">About Me</a>{% endif %}
  </nav>

<a href="https://fr.tipeee.com/souhails" class="tipeee-project-btn">Soutenez souhails sur Tipeee</a>
<script async src="https://plugin.tipeee.com/widget.js" charset="utf-8"></script>
</aside>
